{% extends 'dpt-sales.html'%}



   

{% block menu %}

<center>




        <form method='POST', action='', style="padding: 1px 1px 1px 1px; max-height: 180px; text-align: center;">
            <p>
                <br><br> {{form1.hidden_tag()}}
            What do you want to do<br>
            {{form1.selection}}<br><br>
            {{form1.pressa}}<br>
            {{message}}
            </p>     
        </form>
 

{% if form1.selection.data == 'N' %}

<div class=form>
    <form method='POST', action=''>
        <p>
            <br><br> {{form.hidden_tag()}}
        {{form.company_name.label}}{{form.company_name}}<br>
        {{form.contact_name.label}}{{form.contact_name}}<br>
        {{form.contact_surname.label}}{{form.contact_surname}}<br>
        {{form.phone.label}}{{form.phone}}<br>
        {{form.details.label}}{{form.details}}<br><br>
        {{form.add_client}}
        </p>         <p><h4>{{message}}</h4></p>
    </form>
</div>
   

{% elif form1.selection.data == 'U' %}




<form method='POST', action='', style="padding: 1px 1px 1px 1px; max-height: 180px; text-align: center;">
    <p>
        <br><br> {{form1.hidden_tag()}}
        {{form3.edit}}<br>
    {{form3.select}}<br>
    {{form3.narrow}}<br><br>
    {{form3.press}}
    </p>     
</form>



{% endif %}

</center>

{% endblock menu %}