{% extends 'home.html' %}


{% block body %}

This is Sales
<style>

    form{
    width:420px;
    height:270px;
    background-color: #ffffff55;
    border-radius:7px;    
    text-align: right;
    padding: 80px 80px;
       
    }

    .frame{


    background-color: #ffffff55;
    border-radius:7px;    
    text-align: right;
    padding: 15px 15px;
        
    }

    td{
        background-color: #ffffff55;
        padding: 25px 35px;
        border-style: double;
        border-radius:10px;
    }
    
    .sidebary{
              
              width: 10%;
              position: static;
              position: sticky;
              background-color: #000000aa;
              padding-top: 1px;
              padding: 5px;

            }


</style> 

<div class=sidebary> 

    <div class="dropdown">
        <button class="dropbtn">&ensp;&ensp;Main &ensp;&ensp;</button>
        <div class="dropdown-content">
          <a href="home"><center>Menu</center></a>
          <a href="#"><center>Get Premium</center></a>
          <a href="login"><center>Log-in</center></a>
          <a href="#"><center>About</center></a>

        </div>
      </div>


</div>


{% block menu %}
<center>
Hi {{user.name()}}
dept = {{user.department()}}

<table class="frame">
{%for element in list%}
<td>
{% for j in element %}

{{j}}<br>
{% endfor %}
</td> 

{% endfor %}
&ensp;
</table>


</center>


{% endblock menu %}




{% endblock body %}


