{% extends 'home.html' %}


{% block body %}

<style>
  table{ /* This CSS defines the table for the main menu*/
  background-color: lightblue; width: 20px; padding: 40px 40px;    
    
  position:fixed;
  border-radius:7px;
  width:1050px;
  height:510px;
  background:#eeeeeeaf;
  left:300px;
  top:100px;

  }


    form{
    width:420px;
    height:270px;
    background-color: #ffffff55;
    border-radius:7px;    
    text-align: right;
    padding: 80px 80px;
    
    
    }
    

</style> 

<table><td>


{% block menu %}
{% endblock menu %}


</td></table>


{% endblock body %}


